.cat-icon.orange {
  color: orange;
}

.cat-icon.grey {
  color: grey;
}

.cat-icon.white {
  /* color: white;
  text-shadow: 1px 1px 3px #000; */
  color: white;
  -webkit-text-stroke: 3px black; 
}


.cat-icon.black {
  color: black;
}

.zone.yard {
  background-color: #b8e0a1; /* Darker green */
}

.zone.porch {
  background-color: #e0d1a2; /* Darker tan */
}

.zone.house {
  background-color: #a1c4e0; /* Darker blue */
}
